.col-md-1 {
  border-left: 1px solid black;
  border-right: 1px solid black;
  height: 1080px;
}

.row {
  padding-top: 20px;
  background-color: #5DBA76;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
}

.col-md-2{
  background-color: #489C6C;
}

 .col-md-7 {
   background-color: #5DBA76;
   color: #256641;
   font-family: 'League Script', cursive, sans-serif;
   font size: 18px;
   padding-bottom: 7px;
 }

 .col-md-5 {
   background-color: #5DBA76;
   color: #256641;
   font-family: 'League Script', cursive, sans-serif;
   font size: 24px;
 }

.col-md-6{
  background-color: #D6CD6B;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
}
.btn {
  padding-top: 10px;
}

#tomatoes #wrap {
  display: inline-block;
}
