.col-md-1 {
  border-left: 1px solid black;
  border-right: 1px solid black;
  height: 1080px;
}

.col-md-2{
  background-color: #E89133;
  padding: 5px;
}
.col-md-12{
  background-color: #E0D44C;
  font-family: 'Open Sans Condensed', sans-serif;
  font size: 14px;
}

.col-md-4 .col-md-offset-4{
  padding-bottom: 20px;
  padding-top: 20px;
}

.col-md-8{
  padding-bottom: 20px;
  padding-top: 20px;
}


 .col-md-7 {
   background-color: #A8D461;
   color: #256641;
   font-family: 'League Script', cursive, sans-serif;
   font size: 18px;
   padding-bottom: 7px;
 }

 .col-md-5 {
   background-color: #A8D461;
   color: #256641;
   font-family: 'League Script', cursive, sans-serif;
   font size: 24px;
 }

.col-md-6{
  background-color: #E0D44C;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
}
.btn {
  padding-top: 10px;
}

#tomatoes #wrap {
  display: block;
}
