.col-md-1 {
  border-left: 1px solid black;
  border-right: 1px solid black;
  height: 1080px;
}

.col-md-8 {
  padding-top: 20px;
  background-color: #009966;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 24px; 
}

.btn {
  padding-top: 10px;
}
