<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" type="text/css" href="<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>">

</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7">
  <h2>A girl who thinks being a vegetarian is simply...</h2>
      </div>
<div class="col-md-5">
    <h1>Vegelicious</h1>
</div>
</div>
<div class="row">
<div class="col-md-2 col-md-offset-1">
  <a href="vegetarian.html"> What the H*** Is A Vegetarian?</a>
</div>
<div class="col-md-2">
  <a href="recipes.html"> Recipes</a>
</div>
<div class="col-md-2">
  <a href="user_reviews.html"> User Reviews</a>
</div>
<div class="col-md-2">
  <a href="member.html"> Become A Member</a>
</div>
<div class="col-md-2">
  <a href="donate.html"> Donate</a>
</div>
</div>
{{content}}
</body>
</html>
