<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7">
  <h2>A girl who thinks being a vegetarian is simply...</h2>
      </div>
<div class="col-md-5">
    <h1>Vegelicious</h1>
</div>
</div>
<div class="row">
<div class="col-md-2 col-md-offset-1">
  <a href="vegetarian.html"> What the H*** Is A Vegetarian?</a>
</div>
<div class="col-md-2">
  <a href="recipes.html"> Recipes</a>
</div>
<div class="col-md-2">
  <a href="user_reviews.html"> User Reviews</a>
</div>
<div class="col-md-2">
  <a href="member.html"> Become A Member</a>
</div>
<div class="col-md-2">
  <a href="donate.html"> Donate</a>
</div>
</div>
<div class="row">
  <div class="col-md-4">
    <h2> So what does that even mean?</h2>
</div>
<div class="col-md-8">
<p> Neutra chartreuse seitan, synth celiac authentic cliche hoodie craft beer butcher. Kitsch ethical sriracha lo-fi twee. Jean shorts humblebrag blue bottle, shabby chic yuccie kombucha sriracha you probably haven't heard of them DIY pabst waistcoat selfies occupy squid intelligentsia. Tofu portland disrupt, farm-to-table swag vegan tilde locavore try-hard keytar keffiyeh pour-over butcher before they sold out seitan. Ramps cred selfies, hammock single-origin coffee venmo typewriter quinoa fingerstache vinyl pork belly jean shorts 3 wolf moon mixtape. Truffaut master cleanse vinyl, portland selfies lumbersexual etsy deep v readymade knausgaard thundercats. Beard offal green juice chartreuse. </p>
</div>
</div>
<div class="row">
    <div class="col-md-4 col-md-offset-4">
      <h2> Recipes </h2>
    </div>
</div>
<div class="row">
  <div class="col-md-4">
    <h2> What does the rest of us have to think? </h2>
  </div>
  <div class="col-md-8">
    <p> Tousled thundercats shabby chic, quinoa VHS cold-pressed helvetica gluten-free +1 normcore pour-over cred occupy asymmetrical. Lomo deep v tousled roof party. Retro forage PBR&B, godard kickstarter cliche sriracha tofu venmo. Listicle salvia squid, retro chartreuse disrupt polaroid biodiesel 90's roof party stumptown heirloom messenger bag mustache lo-fi. Raw denim quinoa iPhone, health goth direct trade pour-over tousled church-key cold-pressed chicharrones. Master cleanse fashion axe thundercats gastropub ugh chartreuse ennui you probably haven't heard of them art party food truck, listicle vice portland. Raw denim cronut pabst, shabby chic pork belly distillery mumblecore sriracha migas heirloom kale chips bushwick lumbersexual helvetica. </p>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <h2> Sign Up! Join the vegelicious movement. </h2>
  </div>
  <div class="col-md-8">
    <p> Brunch cliche lo-fi fap, four loko ennui church-key kinfolk tousled dreamcatcher you probably haven't heard of them whatever. Meditation XOXO pabst cronut chillwave ramps. Viral retro microdosing, portland sartorial marfa typewriter master cleanse gastropub you probably haven't heard of them thundercats. Disrupt truffaut locavore banjo church-key franzen. Umami wolf marfa deep v, cronut celiac lo-fi food truck 3 wolf moon actually quinoa post-ironic. Chia everyday carry kitsch crucifix, disrupt yuccie cardigan cray cold-pressed. Wayfarers lomo VHS vinyl pickled, irony etsy. </p>
  </div>
</div>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h2> Support Animal Activists </h2>
    <a class="btn btn-info" href="donate.html">Donate</a>
  </div>
</div>
</div>
</body>
</html>
